/* @VARIABLES */
/* ********** */

// TIPOGRAFIA
// TIPOGRAFIA
$fontSize: 18px;
$fontFamily: "roboto",
sans-serif;
// COLORES
$colores: (
    morado:#939393,
    negro: #000000,
    amarillo:#FFF500
);

// TAMAÑOS
$dispositivos: (
    smartphone: 360px,
    ipad: 768px,
    desktop: 1366px
);

$breakpoints: (
    smartphone: 320px,
    ipad: 768px,
    desktop: 800px
);

