/* @BOTONES */
/* ********** */

// Botón  <a>
.boton {
  font-size: $fontSize;
  background-color: map-get($colores, amarillo);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: map-get($colores, negro);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  width: 118px;
  margin-right: 16px;
  margin-bottom: 33px;
}
